:root {
    --c1: #9fc131; /* Hauptfarbe */
    --c2: #254a0c; /* Sekundärfarbe */
    --c3: #ccc13a; /* Akzentfarbe 1 */
    --c4: #567119; /* Akzentfarbe 2 */
    --c5: #3e3407; /* Akzentfarbe 3 */
}